h1 {
	font-family: Helvetica;
	font-weight: bold;
	font-size:100px;
}

h2 {
	font-family: Helvetica;
	font-weight: bold;
	font-size: 100px;
}

h3 {
	font-size: 100px;
}

.divje {
	position:float;
	margin-top:1%;

}

.divjez2 {
	position:float;
	padding-left:50%;
	margin-left: 50%;

}



.menu-ring { 
	position:absolute;
margin: 50 auto;  
height: 510px;  
width: 600px;  
-webkit-transform-style: preserve-3d; 
-webkit-animation-iteration-count: infinite; 
-webkit-animation-timing-function: linear; 
-webkit-animation-name: spin; 
-webkit-animation-duration: 15s; 
-moz-transform-style: preserve-3d; 
-moz-animation-iteration-count: infinite; 
-moz-animation-timing-function: linear; 
-moz-animation-name: spin; 
-moz-animation-duration: 5s; 
} 
.menu-ring > :nth-child(odd) { 
background-color: blue;  
} 
.menu-ring > :nth-child(even) { 
background-color: red;  
} 
@-webkit-keyframes spin { 
0% { -webkit-transform: rotateY(360deg); }  
50% { -webkit-transform: rotateY(340deg); }  
100% { -webkit-transform: rotateY(0deg); }  
} 
@-moz-keyframes spin { 
0% { -moz-transform: rotateY(360deg); }  
50% { -moz-transform: rotateY(80deg); }  
100% { -moz-transform: rotateY(0deg); }  
} 
#item1,#item2,#item3,#item4,#item5,#item6,#item7,#item8,#item9{ 
position: relative;  
left: 250px;  
width: 140px;  
height: 500px;  
text-align: center;  
opacity: 0.9;  
color: rgba(0,1,0,0.9);  
-webkit-border-radius: 10px; 
-moz-border-radius: 10px; 
} 
#item1{ 
-webkit-transform: rotateY(0deg) translateZ(400px); 
-moz-transform: rotateY(0deg) translateZ(200px); 
} 
#item2{ 
-webkit-transform: rotateY(40deg) translateZ(200px); 
-moz-transform: rotateY(80deg) translateZ(800px); 
} 
#item3{ 
-webkit-transform: rotateY(80deg) translateZ(200px); 
-moz-transform: rotateY(80deg) translateZ(200px); 
} 
#item4{ 
-webkit-transform: rotateY(120deg) translateZ(200px); 
-moz-transform: rotateY(120deg) translateZ(20px); 
} 
#item5{ 
-webkit-transform: rotateY(160deg) translateZ(200px); 
-moz-transform: rotateY(160deg) translateZ(200px); 
} 
#item6{ 
-webkit-transform: rotateY(200deg) translateZ(200px); 
-moz-transform: rotateY(200deg) translateZ(200px); 
} 
#item7{ 
-webkit-transform: rotateY(240deg) translateZ(200px); 
-moz-transform: rotateY(240deg) translateZ(200px); 
} 
#item8{ 
-webkit-transform: rotateY(280deg) translateZ(200px); 
-moz-transform: rotateY(280deg) translateZ(200px); 
} 
#item9{ 
-webkit-transform: rotateY(320deg) translateZ(200px); 
-moz-transform: rotateY(320deg) translateZ(200px); 
} 