h1 {
	font-family: Helvetica;
	font-weight: bold;
}

h2 {
	font-family: Helvetica;
	font-weight: bold;
}

h3 {
	font-size: 200px;
}


.divje {
	position:float;
	margin-top:5%;
}

.divjez2 {
	position:float;
	padding-left:50%;
	margin-left: 50%;
}
